body {
  color:black;
  background-color:white;
  background-image: url("../../www/images/fond.png");
  background-repeat:no-repeat;
  background-position: top;
  }

  #menubarre {
    display: flex-raw;
    align-content: space-between;

  }

  #Form-email3 {
    width: 250px;
    height: 20px;

  }
  #Form-pass3 {
    width: 200px;
    height: 20px;

  }
  #title {
    width: 300px;
    height: 20px;
  }

  #todoList {

    padding: 50px;
    justify-content:space-around;
    border-style: groove;
    border-width: 5px;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(34, 29, 23, 0.2);
    margin: auto;
    width: 400px;
    height: 400px;
    align-content: center;
  }
  
    #todoList p {
    position:relative; 
    width:300px; 
    padding-right:120px; 
    text-align:right;
  }

  #titrep {
    width: 400px;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
  }
  #descr {
    width: 400px;
    height: 200px;
    border-radius: 15px;
    padding: 10px;
  }
  
  #todolist ul {
    position: relative;
    display: flex;
    padding: 50px;
    justify-content:space-around;
    border-style: groove;
    border-width: 5px;
    border-radius: 20px;
    border-color: grey;
    background-color: rosybrown;
    box-shadow: 12px 12px 2px 1px rgba(34, 29, 23, 0.2);
    margin: auto;
    width: 400px;
    height: 400px;
    align-content: center;
  }

  #poste {
    background-color: darkgray;
  }




