body {
  color:black;
  background-color:white;
  background-image: url("../../www/images/fond.png");
  background-repeat:no-repeat;
  background-position: top;
  }

.form-gradient {
  position: absolute;
  background-position-x: 800px;
  background-position-y: 400px;
  width: 200px;
  height: 200px;
  background-image: url("../../www/images/post1.png");
}

.col-md-4 .offset-md-4 {
  display: flex;
  flex-wrap: wrap;
  width: 500px;

}

.todoList li {
  flex-wrap: wrap;
  background-color: floralwhite;
  padding: 10px;
  display: flex;
  width: 400px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  border-radius: 15px;
}

.todoList ul{
  padding: 0;
  list-style: none;
  width: 680px;
}
.description {
  background-color: darkviolet;
  height: 50px;
}
